{
  "Application": {
    "Url": "http://localhost:5004",
    "PathBase": "/",
    "Owner": "cysun@localhost.localdomain"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=mynotes;Username=cysun;Password=abcd"
  },
  "OIDC": {
    "Authority": "https://localhost:5001",
    "ClientId": "cysun-mynotes",
    "ClientSecret": "abcd"
  },
  "FilesDirectory": "D:/Temp/MyNotes/files",
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "D:/Temp/MyNotes/log.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": null
        }
      }
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [
      "FromLogContext"
    ]
  },
  "AllowedHosts": "*"
}