@{
    ViewData["Title"] = "MyNotes - Access Denied";
}
<div class="alert alert-danger mt-3" role="alert">Access Denied</div>
<p>You are not authorized to access this resource.</p>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
