@{
    ViewData["Title"] = "MyNotes";
}
<div class="row">
    <div class="col-lg-8">
        <h4 class="text-center">Recent Notes</h4>
        @if (ViewBag.Notes.Count == 0)
        {
            <p class="text-center">No notes were created or updated recently.</p>
        }
        else
        {
            <table class="table table-hover">
                <tbody>
                    @foreach (var note in ViewBag.Notes)
                    {
                        <tr>
                            <td>
                                @if (note.IsPublic)
                                {
                                    <i class="fab fa-creative-commons-share text-success"></i>
                                }
                                <a asp-controller="Notes" asp-action="View" asp-route-id="@note.Id" class="mr-3">@note.Subject</a>
                            </td>
                            <td class="d-none d-md-table-cell">@note.Updated.ToString("d")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
