@{
    ViewData["Title"] = "MyNotes";
    List<Note> notes = ViewBag.PinnedNotes;
    List<File> files = ViewBag.PinnedFiles;
}
<div class="row row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
      <div class="card h-100">
            <div class="card-header">Pinned Notes</div>
            <div class="card-body">
                @if (notes.Count > 0)
                {
                    <ul class="list-group list-group-flush">
                        @foreach (var note in notes)
                        {
                            <li class="list-group-item">
                              <partial name="_Note" model="new NoteViewModel { Note = note }"/>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header">Pinned Files</div>
        <div class="card-body">
          @if (files.Count > 0)
          {
            <ul class="list-group list-group-flush">
              @foreach (var file in files)
              {
                <li class="list-group-item">
                  <partial name="_File" model="new FileViewModel { File = file }"/>
                </li>
              }
            </ul>
          }
        </div>
      </div>
    </div>
</div>
