@{
    ViewData["Title"] = "MyNotes - Search";
}
<div class="row">
    <div class="col-md-5 col-lg-4">
        <h4 class="text-center">Notes</h4>
        @if (ViewBag.Notes.Count == 0)
        {
            <p class="text-center">No notes found.</p>
        }
        else
        {
            <table class="table table-hover">
                <tbody>
                    @foreach (var note in ViewBag.Notes)
                    {
                        <tr>
                            <td>
                              <partial name="_Note" model="new NoteViewModel { Note = note }"/>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-7 col-lg-8">
        <h4 class="text-center">Files</h4>
        @if (ViewBag.Files.Count == 0)
        {
            <p class="text-center">No files found.</p>
        }
        else
        {
            <table class="table table-hover align-middle">
                <tbody>
                    @foreach (var file in ViewBag.Files)
                    {
                      <tr>
                        <td>
                          <partial name="_File" model="new FileViewModel { File = file }"/>
                        </td>
                        <td>
                          @if (!file.IsFolder)
                          {
                            <a asp-controller="Files" asp-action="Download" asp-route-id="@file.Id"
                               class="btn btn-outline-primary btn-sm">
                              <i class="bi bi-download"></i>
                            </a>
                          }
                        </td>
                      </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#searchAll").val("@Context.Request.Query["term"]");
        });
    </script>
}
