@model NoteInputModel
@{
    ViewData["Title"] = $"MyNotes - Edit Blog Summary";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="View" asp-route-id="@Model.Id">@Model.Subject</a></li>
        <li class="breadcrumb-item active">Edit Blog Summary</li>
    </ol>
</nav>

<form method="post">
    <div class="mb-3">
        <textarea id="summary" name="summary" class="form-control">@Model.Summary</textarea>
    </div>
    <a asp-controller="Notes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary ms-2">Save</button>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/4jeuqf3mhgytuk82mowljcxt0pbcbem4ivn5xorph63kjcfg/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        $(function () {
            tinymce.init({
                selector: "textarea#summary",
                plugins: "autolink link",
                menubar: false,
                convert_urls: false,
                browser_spellcheck: true,
                toolbar: "bold italic underline link",
                height: 250
            });
        });
    </script>
}
