@model NoteInputModel

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item active">New</li>
    </ol>
</nav>

<form method="post">
    <div class="form-group">
        <input asp-for="Subject" class="form-control" required>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="ml-2 btn btn-primary">Create</button>
</form>
