@model Note

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item active">@Model.Subject</li>
        <li class="ml-auto">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                <i class="far fa-edit"></i>
            </a>
        </li>
    </ol>
</nav>

<div class="px-3">
    @Html.Raw(Model.Content)
</div>
